@{
    ViewBag.Title = "Home Page";
}
    @model IEnumerable<PricesV2.Models.StockPrice>
    <script>
    var temp1 = '@ViewBag.Data';
    var data = JSON.parse('@ViewBag.Data');

    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var chartData = google.visualization.arrayToDataTable(data);

        var options = {
          title: 'Wartość funduszu inwestycyjnego [zł]',
          curveType: 'none',
          legend: { position: 'bottom' }

        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(chartData, options);
      }
    </script>

@using (Html.BeginForm("Index", "Home"))
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("Data od:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("data1", "", new { type = "date" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Data do:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBox("data2", "", new { type = "date" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Przetwórz dane" class="btn btn-default" />
            </div>
        </div>
 
    </div>
}
<div id="curve_chart" style="width: 1000px; height: 600px"></div>

<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Data:")
            </th>
            <th>
                @Html.DisplayName("Wartość funduszu inwestycyjnego:")
            </th>   
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
            </tr>
        }
    </table>
</div>